/* home.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  flex-wrap: wrap; /* Add this line */
}

form {
  display: flex;
  margin-left: 20px;
  flex: 1; /* Add this line */
}


#logo {
  height: 40px;
}


#searchBox {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#searchButton {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#signInButton {
  margin-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropbtn {
  padding: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#kart {
  margin-left: 20px;
}

#cartIcon {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.link {
  text-decoration: none;
  color: #000000;
}

.display {
  display: flex;
  margin: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.displayCategory {
  margin-right: 20px;
}

h2 {
  margin-bottom: 10px;
}

form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
}

#productName td {
  font-weight: bold;
}

#productImage td {
  text-align: center;
}

#itemImage {
  max-width: 100px;
  max-height: 100px;
}

#productPrice td {
  text-align: center;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  text-decoration: none;
}

.pagination strong {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}
