<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}
    /> <link rel="stylesheet" href={{ url_for('static',
    filename='css/topStyle.css') }} />
  </head>
  <body>
    <div id="title">
      <a href="/">
        <img id="logo" src= {{ url_for('static', filename='images/logo.png') }}
        />
      </a>
      <form>
        <input id="searchBox" type="text" name="searchQuery" />
        <input id="searchButton" type="submit" value="Search" />
      </form>
      <div class="actions">
        {% if not loggedIn %}
        <div id="signInButton">
          <a class="link" href="/loginForm">Sign In</a>
        </div>
        {% else %}
        <div class="dropdown">
          <button class="dropbtn">Hello, <br />{{firstName}}</button>
          <div class="dropdown-content">
            <a href="/account/orders">Your orders</a>
            <a href="/account/profile">Your profile</a>
            <hr />
            <a href="/logout">Sign Out</a>
          </div>
        </div>
        {% endif %}
        <div id="kart">
          <a class="link" href="/cart">
            <img src={{url_for('static', filename='images/shoppingCart.png')}}
            id="cartIcon" /> CART {{noOfItems}}
          </a>
        </div>
      </div>
    </div>
    <div class="display">
      <div class="displayCategory">
        <h2>Shop by Category:</h2>
        <form
          action="/displayCategory"
          method="GET"
          style="
            width: 210px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <select name="categoryId">
            {% for row in categoryData %}
            <option value="{{ row[0] }}">{{ row[1] }}</option>
            {% endfor %}
          </select>
          <button type="submit">Go</button>
        </form>
      </div>
      <div>
        <h2>Items</h2>
        <div class="grid-container">
          {% for data in itemData %}
          <div class="item">
            <div
              class="card"
              style="background-image: url(static/uploads/{{data[4]}})"
            ></div>
            <div style="width: 120px">
              <a href="/productDescription?productId={{data[0]}}">
                <p class="cut-text">{{data[1]}}</p>
              </a>
              <p>Price: {{data[2]}}$</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="pagination">
      {% if page > 1 %}
      <a href="/?page={{ page - 1 }}">Previous</a>
      {% endif %} {% for num in range(1, (total_count // per_page) + 2) %} {% if
      num == page %}
      <strong>{{ num }}</strong>
      {% else %}
      <a href="/?page={{ num }}">{{ num }}</a>
      {% endif %} {% endfor %} {% if page < (total_count // per_page) + 1 %}
      <a href="/?page={{ page + 1 }}">Next</a>
      {% endif %}
    </div>
  </body>
</html>
